.hidden{
  display:none !important;
}

.dark{
  background-image:url(https://media.wired.com/photos/5abece0a9ccf76090d775185/master/pass/hangoutsscreen_2.jpg);
  background-position: cover;
  background-position-y: -2rem;
  
}

.Shrine{
  min-height: 350px;
  border-style: groove;
  border-color: aqua;
  transform: translateY(-10px);
  background-blend-mode: color-burn;
}

.inventory{
  transform: translateY(200px)translateX(-100px);
  max-width: 300px;
}

.stats{
  transform:translateY(120px)translateX(100px);
  max-width: 300px;
}

.purchase{
  transform: translateY(100px);
  text-shadow: 10px;
}

.buttons{
  background-color: rgba(231, 81, 12, 0.87);
  max-width: 150px;
  min-height: 40px;
  color:rgb(0, 0, 0);
  font-weight: bold;
}

.bigfonts{
  font-family: 'Azeret Mono', monospace;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bolder;
}

.smallfonts{
color: rgb(177, 34, 41);
font-weight: bold;
font-size: large;
}

.storeCards{
  background-blend-mode: color;
  background-color: rgba(9, 192, 183, 0.39);
  max-height:175px
}

.storefont{
  font-weight: bold;
  color: rgb(0, 0, 0);
}