.hidden{
  display:none !important;
}

.dark{
  background-image:url(https://media.wired.com/photos/5abece0a9ccf76090d775185/master/pass/hangoutsscreen_2.jpg);
  background-position: cover;
  background-position-y: -3rem;
  
}

.Shrine{
  max-height: 400px;
  border-style: groove;
}

.inventory{
  transform: translateY(150px);
  max-width: 300px;
}

.stats{
  transform:translateY(200px);
  max-width: 300px;
}